@font-face {
	font-family:'Comfortaa';
	src:url(assets/fonts/Comfortaa-Regular.ttf) format('truetype');
}
@font-face {
	font-family:'Montserrat';
	src:url(assets/fonts/Montserrat-Regular.ttf) format('truetype');
}